.main {
  margin-bottom: 130px;
}

.imgDiv {
  position: relative;
}

.paraDiv {
  position: absolute;
  width: 265px;
  background-color: rgb(30, 30, 30);
  color: white;
}

.para1 {
  font-size: 28px;
  padding-left: 40px;
  padding-top: 60px;
  margin-bottom: -5px;
}

.para2 {
  font-size: 16px;
  padding-left: 40px;
  padding-top: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img {
  width: 220px;
  height: 880px;
  object-fit: cover;
}

.image {
  display: flex;
  justify-content: right;
  opacity: 0.7;
}
